{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block content %}

    <h1>Tablón Emergya</h1>

    <b><a href=""> CREAR ANUNCIO </a></b>
    <hr>

{% endblock %}

{% block stylesheets %}

{% endblock %}
